# Detecting Electrical Plugs in E-Commerce Website Products
#### In this notebook, we will explore an Ecommerce website's dataset. In some marketplaces, products having electrical plugs need to be accompanied by a compliance form. Thus it is desirable to identify products which have an electrical plug.

__Dataset schema:__ 
- __ASIN__: Product ASIN
- __target_label:__ Binary field with values in {0,1}. A value of 1 show ASIN has a plug, otherwise 0.
- __ASIN_STATIC_ITEM_NAME:__ Title of the ASIN.
- __ASIN_STATIC_PRODUCT_DESCRIPTION:__ Description of the ASIN
- __ASIN_STATIC_GL_PRODUCT_GROUP_TYPE:__ GL information for the ASIN.
- __ASIN_STATIC_ITEM_PACKAGE_WEIGHT:__ Weight of the ASIN.
- __ASIN_STATIC_LIST_PRICE:__ Price information for the ASIN.
- __ASIN_STATIC_BATTERIES_INCLUDED:__ Information whether batteries are included along with the product.
- __ASIN_STATIC_BATTERIES_REQUIRED:__ Information whether batteries are required for using the product.
- __ASIN_STATIC_ITEM_CLASSIFICATION:__ Item classification of whether it is a standalone or bundle parent item etc

# Exploratory Data Analysis

## 1. Reading the data
Let's read the dataset into a dataframe.

In [5]:
import pandas as pd

# import the datasets
df = pd.read_csv('C:\\Users\\solharsh\\Downloads\\Tabular Data MLU\\final_project\\final_project\\asin_product.csv',encoding= 'unicode_escape')
df.head()

C:\Users\solharsh\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,18,19,23,31,38,41,48,63,78,82,85,96,105) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Region Id,MarketPlace Id,ASIN,Binding Code,binding_description,brand_code,case_pack_quantity,classification_code,classification_description,color_map,...,pkg_weight,pkg_weight_uom,pkg_width,release_date_embargo_level,dw_creation_date,dw_last_updated,is_deleted,last_updated,version,external_testing_certification
0,1,1.0,153427507,hardcover,Hardcover,NaN,NaN,base_product,Base Product,NaN,...,NaN,NaN,NaN,NaN,4-Jan-11,22-Jul-16,N,21-Jul-16,145.0,NaN
1,1,1.0,267648340,hardcover,Hardcover,FOS3T,NaN,base_product,Base Product,NaN,...,0.850000,pounds,5.980000,NaN,16-Sep-16,23-Feb-18,N,22-Feb-18,33.0,NaN
2,1,1.0,545496470,hardcover,Hardcover,KLUTZ,6.0,base_product,Base Product,Black,...,1.631404,pounds,8.267717,low,20-Aug-12,23-Dec-17,N,23-Dec-17,20912.0,NaN
3,1,1.0,679858040,paperback,Paperback,NaN,NaN,base_product,Base Product,NaN,...,1.200000,pounds,7.700000,NaN,4-Jan-11,4-Nov-17,N,3-Nov-17,2108.0,NaN
4,1,1.0,078694742X,toy,Toy,WZDCS,12.0,base_product,Base Product,NaN,...,0.620000,pounds,6.535433,NaN,4-Jan-11,21-Oct-17,N,20-Oct-17,9395.0,NaN

## 2. Overall Statistics:
We will look at number of rows, columns and simple statistics of the dataset.

In [6]:
# Print the first 10 rows
# NaN means missing data
df.head(10)

,Region Id,MarketPlace Id,ASIN,Binding Code,binding_description,brand_code,case_pack_quantity,classification_code,classification_description,color_map,...,pkg_weight,pkg_weight_uom,pkg_width,release_date_embargo_level,dw_creation_date,dw_last_updated,is_deleted,last_updated,version,external_testing_certification
0,1,1.0,153427507,hardcover,Hardcover,NaN,NaN,base_product,Base Product,NaN,...,NaN,NaN,NaN,NaN,4-Jan-11,22-Jul-16,N,21-Jul-16,145.0,NaN
1,1,1.0,267648340,hardcover,Hardcover,FOS3T,NaN,base_product,Base Product,NaN,...,0.850000,pounds,5.980000,NaN,16-Sep-16,23-Feb-18,N,22-Feb-18,33.0,NaN
2,1,1.0,545496470,hardcover,Hardcover,KLUTZ,6.0,base_product,Base Product,Black,...,1.631404,pounds,8.267717,low,20-Aug-12,23-Dec-17,N,23-Dec-17,20912.0,NaN
3,1,1.0,679858040,paperback,Paperback,NaN,NaN,base_product,Base Product,NaN,...,1.200000,pounds,7.700000,NaN,4-Jan-11,4-Nov-17,N,3-Nov-17,2108.0,NaN
4,1,1.0,078694742X,toy,Toy,WZDCS,12.0,base_product,Base Product,NaN,...,0.620000,pounds,6.535433,NaN,4-Jan-11,21-Oct-17,N,20-Oct-17,9395.0,NaN
5,1,1.0,1059998254,consumer_electronics,Electronics,NaN,NaN,base_product,Base Product,black,...,0.050000,pounds,2.600000,NaN,13-May-14,30-Sep-17,N,29-Sep-17,117.0,NaN
6,1,1.0,106171327X,pc,Personal Computers,SDSK9,1.0,base_product,Base Product,NaN,...,0.200621,pounds,3.000000,NaN,7-Oct-14,14-Mar-18,N,14-Mar-18,1777.0,NaN
7,1,1.0,1223027643,toy,Toy,THIX7,1.0,base_product,Base Product,NaN,...,0.449743,pounds,8.000000,NaN,9-Mar-13,10-Mar-18,N,10-Mar-18,1921.0,NaN
8,1,1.0,1223062562,toy,Toy,MEXE9,20.0,base_product,Base Product,Multi,...,0.661387,pounds,11.417323,none,22-Mar-13,24-Mar-18,N,24-Mar-18,6884.0,NaN
9,1,1.0,1223068080,toy,Toy,MEXE9,12.0,base_product,Base Product,NaN,...,0.500000,pounds,9.800000,NaN,12-Jul-13,10-Mar-18,N,9-Mar-18,9439.0,NaN

In [7]:
# This will print basic statistics for numerical columns
df.describe()

,MarketPlace Id,case_pack_quantity,discontinued_date,ean,excluded_direct_browse_node_id,fedas_id,fma_qualified_price_max,Product Group Code,item_classification_id,item_display_diameter,...,recall_notice_receive_date,unit_count,upc,variation_theme_id,video_game_region,pkg_height,pkg_length,pkg_weight,pkg_width,version
count,65715.0,20849.000000,0.0,5.427000e+04,1.208000e+04,13.000000,51175.000000,65715.000000,65714.000000,368.000000,...,0.0,8428.000000,4.825700e+04,25485.000000,20.000000,52388.000000,52388.000000,51921.000000,52388.000000,65715.000000
mean,1.0,7.964075,NaN,1.605526e+12,1.584601e+09,110682.230769,94.768035,170.466697,1.195438,17.598872,...,NaN,37.247203,6.173962e+11,35.831116,1.600000,3.470359,12.572308,6.236240,7.714382,11258.312501
std,0.0,43.698409,NaN,2.294313e+12,3.106213e+09,23918.730618,233.215625,117.378078,1.049510,38.367100,...,NaN,565.518245,2.768868e+11,88.842000,0.940325,3.775752,11.614111,114.104034,6.047768,75050.407530
min,1.0,0.000000,NaN,5.012000e+03,0.000000e+00,100640.000000,0.010000,14.000000,1.000000,0.000000,...,NaN,-9.000000,5.012000e+03,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000
25%,1.0,1.000000,NaN,6.380000e+11,1.065616e+06,100954.000000,23.410000,79.000000,1.000000,2.100000,...,NaN,1.000000,6.120000e+11,2.000000,1.000000,1.100000,6.400000,0.250000,3.858268,53.000000
50%,1.0,1.000000,NaN,7.450000e+11,1.657930e+08,100956.000000,36.960000,147.000000,1.000000,6.000000,...,NaN,1.000000,7.150000e+11,8.000000,1.000000,2.400000,9.212598,0.750000,6.000000,191.000000
75%,1.0,6.000000,NaN,8.530000e+11,2.255565e+09,100959.000000,76.740000,201.000000,1.000000,16.350000,...,NaN,12.000000,7.940000e+11,24.000000,3.000000,4.300000,14.200000,2.799871,9.900000,1121.500000
max,1.0,2880.000000,NaN,1.000000e+13,1.754824e+10,167990.000000,9099.680000,594.000000,15.000000,620.000000,...,NaN,50000.000000,1.000000e+12,1439.000000,3.000000,74.000000,268.110236,25353.160130,109.000000,660051.000000

In [8]:
# Let's see the data types and non-null values for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65773 entries, 0 to 65772
Columns: 112 entries, Region Id to external_testing_certification
dtypes: float64(46), object(66)
memory usage: 56.2+ MB